#set ($xmlEncoded_application_help = $application_help)
#set ($xmlEncoded_server_base = $server_base)
#set ($xmlEncoded_index_banner_image = $index_banner_image)
#set ($xmlEncoded_index_project_image = $index_project_image)
#set ($xmlEncoded_project_html_url_prefix = $project_html_url_prefix)
#set ($xmlEncoded_project_html_url_suffix = $project_html_url_suffix)

<div id="all">
	<div id="banner" style="text-align: center;">
		<img src="${xmlEncoded_server_base}${xmlEncoded_index_banner_image}" alt="${xmlEncoded_project_name}" />
	</div>
	<div id="main" style="text-align: center;">
		<div style="height: 20%;">&nbsp;</div>
		<img src="${xmlEncoded_server_base}${xmlEncoded_index_project_image}" alt="${xmlEncoded_project_name}" />
		<form name="form1" action="/noscript/" onsubmit="document.location='${xmlEncoded_server_base}${xmlEncoded_project_html_url_prefix}'+form1.id.value+'${xmlEncoded_project_html_url_suffix}';return false;" method="POST">
			<select name="selectvalue" size="1" onChange="form1.id.value = this.options[this.selectedIndex].value;">
				<option value="" selected="selected" >Select an ID example</option>
				<option value="journal/j6c706049c2e08871b7c46a6528065736C">Journal of Medical Chemistry</option>
				<option value="resource/r10013">Pubmed Article 2918514</option>
				<option value="activity/a635789">Activity based on an assay</option>
				<option value="assay/a81884">Assay testing for the change in liver cholesterol (CE) levels in hamsters</option>
				<option value="target/t50740">Target on the Cricetinae gen. sp. organism</option>
				<option value="targetType/ORGANISM">Targets of type organism</option>
				<option value="molecule/m292858">The molecule (S)-7-(4-Chloro-phenyl)-3-(4-methoxy-phenyl)-2-phenyl-2-aza-spiro[3.5]nonan-1-one</option>
				
				   
				<option value="search/Cricetinae">Search for "Cricetinae" in Chembl</option>
				<option value="searchns/target/Cricetinae">Text search for "Cricetinae" in targets</option>
			</select>
			<input type="text" name="id" size="30" maxlength="150" />
			<input type="submit" value="Submit" />
		</form>
	</div>
	<div id="footer" style="text-align: center;">
           <a href="http://groups.google.com/group/bio2rdf">Send your comments to the project team</a> and see the <a href="${xmlEncoded_application_help}">Bio2RDF wiki</a> for instructions on the download and use of this software.
    </div>
</div>